image: mcr.microsoft.com/dotnet/sdk:8.0

pipelines:
  branches:
    main:
      - step:
          name: Build & Deploy to EC2
          deployment: production
          script:
            - dotnet restore
            - dotnet publish User_CRUD.csproj -c Release -o publish

            - pipe: atlassian/scp-deploy:1.5.0
              variables:
                USER: ubuntu
                SERVER: $EC2_HOST
                REMOTE_PATH: /var/www/usercrud
                LOCAL_PATH: publish/*

            - pipe: atlassian/ssh-run:0.6.1
              variables:
                SSH_USER: ubuntu
                SERVER: $EC2_HOST
                COMMAND: |
                  sudo systemctl restart usercrud
                  sudo systemctl status usercrud --no-pager
