image: mcr.microsoft.com/dotnet/sdk:8.0

pipelines:
  branches:
    main:
      - step:
          name: Build & Publish User_CRUD (.NET 8)
          caches:
            - dotnetcore
          script:
            - dotnet restore
            - dotnet publish User_CRUD/User_CRUD.csproj -c Release -o publish

      - step:
          name: Deploy to AWS EC2
          deployment: production
          script:
            - pipe: atlassian/scp-deploy:1.5.0
              variables:
                USER: $EC2_USER
                SERVER: $EC2_HOST
                REMOTE_PATH: /var/www/usercrud
                LOCAL_PATH: publish
