name: CI/CD Auto Rollback

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build project
        run: dotnet build --configuration Release --no-restore

      - name: Publish project
        run: dotnet publish -c Release -o publish

      - name: Create artifact
        run: tar -czf usercrud.tar.gz -C publish .

      - name: Upload artifact to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "usercrud.tar.gz"
          target: "/tmp"

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            #!/bin/bash
            set -e

            DEPLOY_BASE="/var/www/User_CRUD"
            RELEASE_TIME=$(date +%Y%m%d_%H%M%S)
            RELEASE_DIR="$DEPLOY_BASE/releases/$RELEASE_TIME"
            CURRENT_DIR="$DEPLOY_BASE/current"

            echo "Creating release directory..."
            mkdir -p "$RELEASE_DIR"

            echo "Extracting artifact..."
            tar -xzf /tmp/usercrud.tar.gz -C "$RELEASE_DIR"

            echo "Updating symlink..."
            ln -sfn "$RELEASE_DIR" "$CURRENT_DIR"

            echo "Restarting service..."
            sudo systemctl daemon-reload
            sudo systemctl restart mydocmate-usercrud.service
            sudo systemctl status mydocmate-usercrud.service --no-pager
